.logo-image {
    display: block;
    margin: 10px auto 10px auto;
    width: 50%;
}

.overtop-label {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin: 5px
}

.directory-text {
    margin: 10px;
    color: white;
}

.directory-div {
    margin: 10px auto 10px auto;
    width: 95%;
}

.directory-inner-div {
    border-radius: 5px;
    border: 1px solid #707070;
    position: relative;
}

.browse-button {
    position: absolute;
    width: 25px;
    height: 22px;
    text-align: center;
    right: 1%;
    top: 0px;
    transform: translate(0, 40%);
    color: white;
}

.feature-div {
    margin-bottom: 5px;
}

.custom-checkbox {
    height: 25px;
    width: 25px;
    border: 1px solid #707070;
    float: left;
    margin: auto 10px auto 2px;
}

.checkbox-hover {
    background-color: #20232A;
}

.checkbox-image {
    transform: scale(75%);
}

.feature-list {
    margin: auto;
    margin-bottom: 50px;
    width: 95%;
    height: 30vh;
}

.feature-text {
    font-size: 20px;
    margin: 10px;
    display: inline;
    color: white;
}

.feature-list h3 {
    font-size: 36px;
    margin: auto;
    color: white;
}

.feature-list p {
    font-size: 85%;
    color: whitesmoke;
    margin: 0px;
    margin-bottom: 5px;
}

.feature-list-grid {
    margin: auto;
    display: grid;
    color: white;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    height: 70%;

    overflow-y: scroll;
}

.button-div {
    margin: auto;
    text-align: center;
}

.install-button {
    width: 20%;
    background-color: #0069d9;
    font-size: 1.5em;
    margin-bottom: 5px !important;
}

.uninstall-button {
    width: 13%;
    background-color: #c41d00;
    font-size: 1em;
}

.generic-button {
    font-family: inherit;
    font-weight: 600;
    margin: auto;
    display: block;
    border: 0px;
    border-radius: 5px;
    color: white;
    transition-duration: 0.1s;
    cursor: pointer;
}

.generic-button:disabled {
    background-color: #20232A;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
}

.dialog-div {
    left: 25%;

    position: absolute;
    color: white;

    width: 50%;
    height: 50%;
    text-align: center;
    vertical-align: middle;

    background: linear-gradient(rgba(35,31,31,1), rgba(5,23,38,1));
    border-radius: 10px;
    transition-duration: 1s;
}

.dialog-div h1 {
    margin: auto;
    margin-top: 10px;
}

.dialog-x {
    position: absolute;
    right: 2%;
    top: 3%;
    background-color: transparent;
    outline: none;
    color: lightgray;
    overflow: hidden;
    border: none;
    font-size: large;
}

.dialog-desc {
    margin: auto;
    position: absolute;
    width: 80%;
    height: 50%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-line;
}

.dialog-button {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
    position: absolute;
    display: block;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #20232A;
}

.dialog-button:active {
    background-color: #24262b;
}

html {
    background: linear-gradient(rgba(35,31,31,1), rgba(5,23,38,1));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}